<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}IdeaMatch{% endblock %}</title>
            {% load static %}
            <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'app/css/styles.min.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
            {% block head %}{% endblock %}
    </head>
    <body>
        {% block nav %}{% endblock %}
        <div id="app">
            {% block content %}
            {% endblock %}
        </div>

        <script src="{% static 'app/js/jquery.min.js' %}"></script>
        <script src="{% static 'app/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
