{% extends 'app/base.html' %}

{% block title %}IdeaMatch{% endblock %}
{% block nav %}{% include "app/nav.html" %}{% endblock %}

{% block content %}
    {% load static %}
    
    <div class="row">
    {% if ideas %}
        <table class="table" style="width:50%">
        {% for idea in ideas %}
            <tr>
                <td>
                    <div class="row pull-right">
                        <a href="{% url 'togglelike' idea.pk %}">
                            {% if idea.pk in likes %}
                            <img src="{% static 'app/images/heart-closed.png'%}"/>
                            {% else %}
                            <img src="{% static 'app/images/heart-open.png'%}"/>
                            {% endif %}
                        </a>
                    </div>
                    <div class="row">
                        <a href="/idea/{{idea.pk}}" class="title">{{idea.title}}</a>
                    </div>
                    <div class="row">
                        Skills needed: {% for tag in idea.skills.all %}<a class="btn flat-butt-xs flat-butt flat-info-butt">{{tag.name}}</a>{% endfor %}
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        Related topics: {% for tag in idea.interests.all %}<a class="btn flat-butt-xs flat-butt flat-danger-butt">{{tag.name}}</a>{% endfor %}
                    </div>
                </td>
            </tr>

        {% endfor %}
        </table>
    {% else %}
        <h4>
            No ideas were found.  Click <a href="{% url 'create_idea' %}">here</a> to submit an idea.
        </h4>
    {% endif %}
    </div>
{% endblock %}
