{% extends 'app/base.html' %}

{% block title %}Idea{% endblock %}
{% block nav %}{% include "app/nav.html" %}{% endblock %}
{% block content %}
    {% load static %}
    

    <div class="idea row">
        {% if idea %}
            <div class="col-md-8"></div>
            <div class="col-md-4">
                {% for tag in idea.interests.all %}<a class="btn flat-butt-xs flat-butt flat-danger-butt">{{tag.name}}</a>{% endfor %}
            </div>
            <p/>
            <div class="col-md-12">
                <h1>{{idea.title}}</h1>
            </div>
            <div class="col-md-12">
                <hr/>
                <div class="info">{{idea.idea_team.lead}}</div>
                <hr/>
                <div class="info">Expected time committment: {{idea.committment}} hours/week</div>
                <hr/>
            </div>
            <div class="col-md-12">
                <h2 class="middle">Team</h2>
                <div class="col-md-4">&nbsp;</div>
                <div class="well col-md-4 middle">
                        <div class="row">
                            <span style="font-size:larger;color:black">{{idea.idea_team.lead.first_name}} {{idea.idea_team.lead.last_name}}</span>
                        </div>
                        <div class="row">
                            <span style="font-size:smaller;color:black">{%for skill in idea.idea_team.lead.profile.skills.all %}{{skill}}{% endfor %}</span>
                        </div>
                </div>
                <div class="col-md-4">&nbsp;</div>
            </div>
            <div class="col-md-12 middle">
                {% for slot in slots %}
                <div class="col-md-2">
                    <img src="{% static 'app/images/star-icon.png' %}"/>
                    <p/>
                    {{ slot.skill }}
                    <p/>
                    {% if slot.staffedby %}
                        {{ slot.staffedby }}
                        {% if slot.staffedby == user.username %}
                        <p/><a href="{% url 'toggleteam' idea.pk slot.skill_id %}">leave this team</a>
                        {% endif %}
                    {% else %}
                        Not yet filled - <a href="{% url 'toggleteam' idea.pk slot.skill_id %}">join this team</a>?
                    {% endif %}
                </div>
                {% endfor %}
            </div>

                
        {% else %}
            <h1>New Idea</h1>

        {% endif %}
    </div>
{% endblock %}
