{% extends 'app/base-dark.html' %}

{% block title %}IdeaMatch{% endblock %}

{% load static %}
{% block content %}
    <div class="row">
        <img id="hero" src="{% static 'app/images/landing_dim.jpg' %}"/> 
    </div>
    <div class="row">
        <img id="logo" src="{% static 'app/images/logo500.png' %}">
    </div>
    <div class="jumbotron">
        <div class="middle full">
            <div class="row">
                <div class="col-md-12">
                    <div class="tagline middle full">Share ideas</div>
                    <div class="tagline middle full">Launch products</div>
                </div>
                <div class="row">
                    <a class="btn flat-butt flat-primary-butt" href="/signup/">Get started</a>
                </div>
                <div class="row" style="margin-top:35px">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:25px;">
        <div class="col-md-4">
            <img class="placard" src="{% static 'app/images/light-bulb-icon.png' %}"/>
            <span class="placard">Create an idea and enlist a team</span>
        </div>
        <div class="col-md-4" class="placard">
            <img class="placard" src="{% static 'app/images/comment-icon.png' %}"/>
            <span class="placard">Discuss and collaborate</span>
        </div>
        <div class="col-md-4" class="placard">
            <img class="placard" src="{% static 'app/images/rocket-icon.png' %}"/>
            <span class="placard">Launch product, enjoy success!</span>
        </div>
    </div>
    <div class="row" style="padding:25px;">
        <hr/>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-10">
            <h4>About</h4>
            <span>This site is a demo site to showcase an idea matching app by <a href="https://hire.hoxworthy.com">hoxworthy.com</a></span>
        </div>

    </div>
{% endblock %}
