{% extends 'app/base-dark.html' %}

{% block title %}IdeaMatch - Login{% endblock %}

{% block content %}
    {% load static %}
    <div class="col-md-offset-2 col-md-4 col-xs-12 col-sm-12">
            <form method="POST" action="/login/" style="margin:0 auto;display:block;">
                <img src="{% static 'app/images/logo500.png' %}" style="width:200px;margin:0 auto;display:block;">

                {% csrf_token %}
                <div style="margin:0 auto;display:block;width:250px;">
                {{form}}
                </div>
                <input style="margin:0 auto;display:block;margin-top:25px;" type="submit" value="Login" class="btn flat-butt flat-primary-butt"></input>
                
            </form>
    </div>
{% endblock %}
