{% load static %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{% static 'app/images/logo500.png' %}" style="width:100px;margin-top:-25px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/ideas">Discover<span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'ideas' %}?mine=true">My Ideas</a></li>
        <li><a href="{% url 'messages' %}">Messages</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'create_idea' %}">New Idea</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="{% url 'profile' %}">{{user.username}}'s profile</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>