{% extends 'app/base.html' %}

{% block title %}Idea{% endblock %}
{% block nav %}{% include "app/nav.html" %}{% endblock %}
{% block content %}
    <div class="row">
        <h2>
            This page has been disabled for this demo
        </h2>
        <h4>
            Please contact me at <a href="https://hire.hoxworthy.com">https://hire.hoxworthy.com</a> for more info
        </h4>
    </div>
    <div class="row" style="margin-top:25px;">
        <panel>
            <div class="col-md-4">
                <span>{{quote}}</span>
                <p/><p/>
                <span><i>- {{by}}</i></span>
            </div>
        </panel>
    </div>
{% endblock %}