{% extends 'app/base-dark.html' %}

{% block title %}Idea Match - Signup{% endblock %}

{% block content %}
    {% load static %}
    <div class="col-md-offset-2 col-md-4 col-xs-12 col-sm-12">
        <img src="{% static 'app/images/logo500.png' %}" style="width:200px;margin:20%">
        <div class="row">
            This signup page has been disabled for this demo.
        </div>
        <p/>
        <div class="row">
            Feel free to use one of the following accounts to <a href="{% url 'login' %}">login</a> to use the demo:
        </div>
        <ul>
            <li>user: deana_mullen pwd: foobarbaz</li>
            <li>user: enidperkins pwd: foobarbaz</li>
            <li>user: freeman_hays91 pwd: foobarbaz</li>
        </ul>
        
        <div class="row">
            Please contact me at <a href="https://hire.hoxworthy.com">https://hire.hoxworthy.com</a> for more info
        </div>
    </div>
{% endblock %}
